[project]
	state = active
[access "refs/heads/*"]
	create = group Transformer Team
	forgeCommitter = group Transformer Team
	push = group Transformer Team
	pushMerge = group Transformer Team
	label-Code-Review = -2..+2 group Transformer Team
	label-Verified = -1..+1 group Transformer Team
	submit = group Transformer Team
